<div class="main top-main">
  <div class="top-title">
    <div class="top-message">
        <h2>Tweet_App(仮)</h2>
        <p>Let's mutter your feelings now</p>
    </div>
  </div>
  <div class="container">
    <% @posts.each do |post| %>
      <div class="top-index-item">
        <div class="top-left">
          <img src="<%= "/user_images/#{post.user.image_name}" %>">
        </div>
        <div class="top-right">
          <div class="top-user-name">
            <%= link_to(post.user.name, "/users/#{post.user.id}") %>
          </div>
          <%= link_to(post.content, "/posts/#{post.id}") %>
        </div>
      </div>
    <% end %>
  </div>
</div>